body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 20px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 75px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  margin: -139px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  margin: -6px 0px 10px;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 12px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  line-height: 22px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 5px 18px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: all 246ms ease;
  transition: all 246ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  border-color: #323232;
  background-color: #323232;
  color: #fff;
}

.button.btn-slider {
  /* margin-top: 30px; */
  padding: 10px 40px;
  background-color: #fff;
  color: #323232;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.button.btn-slider:hover {
  border-color: #fff;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.button.onnav {
  margin-right: 15px;
  padding-right: 18px;
}

.menu {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu:hover {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  font-weight: 400;
}

.menu:focus {
  font-weight: 400;
}

.menu.portfolio-page {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.topnav {
  margin-top: -15px;
  margin-bottom: -20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
}

.section {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.section.about {
  padding-top: 80px;
  padding-bottom: 0px;
  border-top: 1px solid #ebebeb;
}

.section.dark {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
  background-color: #f7f7f7;
}

.section.top {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-top: 0px;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
}

.section.testimonial {
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
  background-image: url('../images/testimonial-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.section.best-team {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
}

.section.contact {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
}

.section.footer {
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 0px;
  background-color: #323232;
}

.section.work-info {
  padding-top: 70px;
  padding-bottom: 70px;
}

.spacer {
  display: block;
  width: 70px;
  height: 2px;
  margin: 20px auto;
  padding-left: 0px;
  background-color: #c4c4c4;
  text-align: left;
}


/* .about .photo-about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
} */

/* .about .photo-about-me .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 80%;

} */

/* .about .photo-about-me .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
} */

/* .about .photo-about-me .right p {
    text-align: justify;
    font-size: 16px;
} */

/* .about .photo-about-me .left{
  width: 45%;
} */

/* .about .photo-about-me .right{
  width: 55%;
} */


.aboutus {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus div {
  width: 55%;
}

.aboutus span {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.aboutus p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5 ;
}

.about .loomvid {
  padding-bottom: 30px;
}


.aboutimg {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 35%;
  border-radius: 20px;
}


.service-icon {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.service-col {
  padding-top: 40px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
}

.service-col > h4 {
  font-size: 17px;
}

.testimonials {
  color: #fff;
  font-style: italic;
  text-align: center;
}

.testimonial-name {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.testimonial-box {
  margin-top: 90px;
}

.portfolio-link {
  margin-top: 0px;
  margin-bottom: 17px;
  border: 1px solid #ececec;
  background-color: #fff;
}

.portfolio-link:hover {
  border-color: #ececec;
  background-color: #fff;
  box-shadow: none;
  opacity: 1;
}

.work-name {
  margin-top: -10px;
  margin-bottom: 12px;
}

.portfolio-text {
  padding-right: 131px;
  padding-left: 131px;
}

.portfolio-more {
  margin-top: 42px;
  text-align: center;
}

.team-box {
  margin-top: 50px;
}

.team-name {
  margin-top: 25px;
  text-align: left;
}

.team-do {
  margin-top: 28px;
  text-align: left;
}

.team-info {
  margin-top: -6px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  text-align: left;
}

.team-social {
  margin-top: 0px;
  margin-right: 10px;
  opacity: 0.4;
}

.team-social:hover {
  opacity: 0.8;
}

.team-icons {
  margin-top: 25px;
}

.team-icons.footer {
  text-align: right;
}

.clients-logos {
  text-align: center;
}

.clients {
  margin-top: 46px;
}

.msg-text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border: 1px solid #c3c5c5;
  border-radius: 4px;
}

.email-text {
  border: 1px solid #c3c5c5;
  border-radius: 4px;
}

.copyright {
  padding-top: 34px;
}

.copyright-text {
  font-size: 12px;
  text-align: left;
}

.nav {
  margin-right: 0px;
  background-color: transparent;
  text-align: center;
}

.next {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  opacity: 0.3;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.next:hover {
  opacity: 1;
}

.nextbar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
}

.link {
  color: #323232;
  text-decoration: none;
}

.link:hover {
  color: #666;
}

.portfolio-img {
  padding-bottom: 16px;
 
}

.portfolio-img:hover {
  opacity: 0.5;
}

.section-work {
  margin-top: 0px;
  padding-top: 78px;
}

.hero-img {
  position: static;
  display: block;
  padding-top: 0px;
}

.slider {
  height: 600px;
  padding-top: 80px;
}

.slide {
  padding-top: 150px;
  background-image: url('../images/office-wooden-desk-workspace.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.slide._2 {
  background-image: url('../images/firmbee-com.jpg');
}

.slider-nav {
  padding-top: 1px;
  font-size: 12px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.brand-logo {
  margin-top: 13px;
  margin-left: 50px;
}

.brand-logo:hover {
  opacity: 0.64;
}

.brand-logo.tranistation:hover {
  opacity: 1;
}

.slidertext {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.slider-btn {
  margin-top: 315px;
}

.thanks-msg {
  padding-top: 49px;
  padding-bottom: 1px;
  border: 1px solid #08a800;
  border-radius: 4px;
  background-color: transparent;
}

.thankyou {
  color: #08a800;
  text-transform: none;
}

.error-msg {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #cf3030;
  border-radius: 4px;
  background-color: transparent;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #cf3030;
}

.line {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 17px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  .button.btn-slider {
    margin-top: 20px;
  }

  .menu {
    padding-left: 25px;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
  }

  .menu:hover {
    color: #fff;
  }

  .section {
    margin-top: 0px;
    padding-top: 72px;
    padding-bottom: 0px;
  }

  .section.about {
    padding-top: 50px;
  }

  .section.top {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .section.work-info {
    padding-top: 70px;
  }

  .aboutinfo {
    margin-bottom: 0px;
  }

  .portfolio-text {
    padding-right: 0px;
    padding-left: 0px;
  }

  .team-box {
    padding-top: 0px;
  }

  .menu-button.w--open {
    margin-right: -27px;
    padding-right: 25px;
    padding-left: 18px;
    background-color: #323232;
  }

  .nav-mobile-open {
    margin-top: 65px;
    margin-right: -68px;
    margin-left: 30px;
    padding-left: 0px;
    border: 1px solid #ededed;
    background-color: #fff;
  }

  .hero-img {
    padding-top: 0px;
  }

  .nav-menu {
    position: absolute;
    background-color: #000;
  }

  .close-arrow {
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: auto;
  }

  .close-sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    padding-top: 13px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .slidertext {
    margin-bottom: 0px;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-top: -15px;
    font-size: 35px;
  }

  .button.btn-slider {
    margin-top: 0px;
  }

  .logo {
    padding-top: 0px;
  }

  .menu {
    padding-left: 25px;
  }

  .section {
    padding-top: 78px;
  }

  .section.about {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.dark {
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.top {
    margin-top: 0px;
    padding: 22px 0px 22px 30px;
  }

  .section.best-team {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.contact {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.footer {
    margin-bottom: 0px;
    padding-bottom: 30px;
  }

  .section.work-info {
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .aboutimg {
    /* padding-top: 30px; */

    height: 400px;
    width: 400px;
    /* object-fit: cover; */
    border-radius: 15px;
    
  }

  .aboutinfo{
    margin-bottom: 20px;
  }

  .testimonial-box {
    margin-top: 19px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .portfolio-link {
    margin: 10px 98px 30px;
    padding-left: 0px;
    text-align: center;
  }

  .portfolio-text {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }

  .team-box {
    padding-top: 55px;
    text-align: center;
  }

  .team-name {
    margin-bottom: 0px;
    text-align: center;
  }

  .team-do {
    margin-top: 0px;
    text-align: center;
  }

  .team-info {
    text-align: center;
  }

  .team-icons {
    text-align: center;
  }

  .team-icons.footer {
    text-align: center;
  }

  .clients-logos {
    padding-top: 48px;
  }

  .copyright-text {
    padding-bottom: 0px;
    text-align: center;
  }

  .nav {
    margin-right: -10px;
  }

  .menu-button {
    margin-top: -26px;
  }

  .menu-button.w--open {
    margin-right: 0px;
    padding-right: 25px;
    background-color: #323232;
  }

  .nav-mobile-open {
    margin-top: 43px;
    margin-right: -46px;
  }

  .nextbar {
    margin-top: -32px;
    padding-top: 0px;
  }

  .section-work {
    margin-top: 0px;
    padding-top: 73px;
  }

  .slider {
    height: auto;
    padding-top: 64px;
  }

  .slide {
    margin-top: 16px;
    padding-top: 134px;
    padding-bottom: 154px;
  }

  .slide._2 {
    padding-top: 283px;
  }

  .brand-logo {
    margin-top: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .menu-button {
    margin-top: 0px;
  }

  .slidertext {
    font-size: 25px;
  }

  .slider-btn {
    margin-top: 251px;
  }

  .form {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-top: -10px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    font-size: 25px;
  }

  h3 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 27px;
    line-height: 35px;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .button.onnav {
    margin-right: 10px;
  }

  .menu {
    padding-left: 25px;
  }

  .section {
    margin-top: 79px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .section.dark {
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .section.top {
    position: fixed;
    padding-left: 10px;
  }

  .section.testimonial {
    padding: 15px 30px;
  }

  .section.contact {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .section.footer {
    margin-top: 0px;
  }

  .section.work-info {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .aboutus {
    padding-top: 0px;
  }

  .service-col {
    padding: 0px 0px 40px;
  }

  .aboutinfo {
    padding-bottom: 0px;
  }

  .testimonials {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
  }

  .testimonial-name {
    margin-top: 24px;
    text-align: center;
  }

  .testimonial-box {
    margin-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .portfolio-link {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .portfolio-text {
    margin-bottom: 50px;
  }

  .team-box {
    padding-top: 0px;
  }

  .team-do {
    margin-top: 0px;
  }

  .team-icons.footer {
    margin-top: 0px;
  }

  .clients-logos {
    padding-top: 40px;
  }

  .nav-mobile-open {
    box-shadow: none;
  }

  .nextbar {
    margin-top: -33px;
    padding-left: 0px;
  }

  .section-work {
    margin-top: 0px;
    padding-top: 72px;
  }

  .slider {
    height: 469px;
    margin-bottom: -80px;
  }

  .slide {
    padding-top: 95px;
    padding-bottom: 100px;
  }

  .slide._2 {
    padding-top: 290px;
    padding-bottom: 100px;
  }

  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .brand-logo {
    margin-top: 16px;
    margin-bottom: 12px;
    padding-left: 5px;
  }

  .menu-button {
    padding-top: 29px;
  }

  .menu-button.w--open {
    background-color: #404040;
  }

  .slidertext {
    font-size: 20px;
  }
}

